In [8]:
from utils.get_marts import download_mart_as_parquet
import pandas as pd


download_dir = "parquet_files"

file_path = download_mart_as_parquet(
        schema_name="main_analytics_marts", 
        mart_name="mart_user_tipping_behavior_timeseries", 
        fastapi_base_url="http://fastapi-backend-dabi2:3001",
        download_path=download_dir
    )

if file_path:
    print(f"Test 1: Datei heruntergeladen nach: {file_path}")
    try:
        df = pd.read_parquet(file_path)
        print("Erste 5 Zeilen des DataFrames:")
        print(df.head())
    except ImportError:
        print("Pandas oder PyArrow nicht installiert. Ãœberspringe das Laden des DataFrames.")
    except Exception as e:
        print(f"Fehler beim Laden der Parquet-Datei mit Pandas: {e}")
else:
    print("Test 1: Download fehlgeschlagen.")

Versuche Download von: http://fastapi-backend-dabi2:3001/api/v1/marts/main_analytics_marts/mart_user_tipping_behavior_timeseries/export/parquet
Datei erfolgreich heruntergeladen und gespeichert unter: parquet_files/main_analytics_marts_mart_user_tipping_behavior_timeseries.parquet
Test 1: Datei heruntergeladen nach: parquet_files/main_analytics_marts_mart_user_tipping_behavior_timeseries.parquet
Erste 5 Zeilen des DataFrames:
   user_id  order_id   order_timestamp  order_date_sk  user_order_sequence  \
0        3   1374495  1711893918000000       20240331                    1
1        3    444309  1712691951000000       20240409                    2
2        3   3002854  1714494320000000       20240430                    3
3        3   2037211  1716229888000000       20240520                    4
4        3   2710558  1717264347000000       20240601                    5

   tip_given  tip_given_lag1  tip_given_lag2  tip_given_lag3  tip_given_lag4  \
0        1.0             NaN             NaN             NaN             NaN
1        1.0             1.0             NaN             NaN             NaN
2        1.0             1.0             1.0             NaN             NaN
3        1.0             1.0             1.0             1.0             NaN
4        1.0             1.0             1.0             1.0             1.0

   tip_given_lag5  full_date  year  month  day  day_of_week  day_of_year  \
0             NaN 2024-03-31  2024      3   31            0           91
1             NaN 2024-04-09  2024      4    9            2          100
2             NaN 2024-04-30  2024      4   30            2          121
3             NaN 2024-05-20  2024      5   20            1          141
4             NaN 2024-06-01  2024      6    1            6          153

   week_of_year  quarter  is_weekend
0            13        1       False
1            15        2       False
2            18        2       False
3            21        2       False
4            22        2        True

In [9]:
df

,user_id,order_id,order_timestamp,order_date_sk,user_order_sequence,tip_given,tip_given_lag1,tip_given_lag2,tip_given_lag3,tip_given_lag4,tip_given_lag5,full_date,year,month,day,day_of_week,day_of_year,week_of_year,quarter,is_weekend
0,3,1374495,1711893918000000,20240331,1,1.0,NaN,NaN,NaN,NaN,NaN,2024-03-31,2024,3,31,0,91,13,1,False
1,3,444309,1712691951000000,20240409,2,1.0,1.0,NaN,NaN,NaN,NaN,2024-04-09,2024,4,9,2,100,15,2,False
2,3,3002854,1714494320000000,20240430,3,1.0,1.0,1.0,NaN,NaN,NaN,2024-04-30,2024,4,30,2,121,18,2,False
3,3,2037211,1716229888000000,20240520,4,1.0,1.0,1.0,1.0,NaN,NaN,2024-05-20,2024,5,20,1,141,21,2,False
4,3,2710558,1717264347000000,20240601,5,1.0,1.0,1.0,1.0,1.0,NaN,2024-06-01,2024,6,1,6,153,22,2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463637,206208,3059777,1739095698000000,20250209,46,0.0,0.0,0.0,1.0,1.0,1.0,2025-02-09,2025,2,9,0,40,6,1,False
1463638,206208,2239861,1739853609000000,20250218,47,1.0,0.0,0.0,0.0,1.0,1.0,2025-02-18,2025,2,18,2,49,8,1,False
1463639,206208,1285346,1740310423000000,20250223,48,1.0,1.0,0.0,0.0,0.0,1.0,2025-02-23,2025,2,23,0,54,8,1,False
1463640,206208,1882108,1740953926000000,20250302,49,1.0,1.0,1.0,0.0,0.0,0.0,2025-03-02,2025,3,2,0,61,9,1,False
1463641,206208,803273,1741260202000000,20250306,50,NaN,1.0,1.0,1.0,0.0,0.0,2025-03-06,2025,3,6,4,65,10,1,False